/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  color: #0D0D0D;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
a {
  color: #0D0D0D;
}
a:hover,
a active,
a visited {
  color: #0D0D0D;
}
nav {
  width: 100%;
  margin: 0 auto;
  padding: 11px 20px 10px;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav h2 {
  font-size: 2rem;
}
nav .logo {
  display: flex;
  justify-content: center;
}
nav .nav-links {
  display: none;
}
@media (min-width: 768px) {
  nav {
    width: 100vw;
    padding: 11px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }
  nav h2 {
    font-size: 2rem;
  }
  nav a {
    font-size: 1.7rem;
    padding: 5px;
  }
  nav a:visited {
    color: #0D0D0D;
  }
  nav a:hover {
    background: radial-gradient(closest-side, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
    color: white;
  }
  nav .nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
}
footer {
  width: 100%;
  color: white;
  background: black;
  padding: 20px 0;
}
footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span p {
  font-size: 1.6rem;
  color: #D0E9F2;
}
footer span img {
  height: 40px;
}
.home header {
  height: 100vh;
  background-image: url(../img/mountain-alps.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.home header .container {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home header .container .transparent-box {
  padding: 20px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.8) 75%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
.home header .container .transparent-box p {
  font-size: 1.6rem;
}
.home header .container .transparent-box:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.8) 75%, rgba(255, 255, 255, 0.8) 100%);
}
@media (min-width: 500px) {
  .home header .container .transparent-box {
    width: 80%;
  }
  .home header .container .transparent-box p {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1080px) {
  .home header .container .transparent-box {
    width: 60%;
  }
}
.home .exploration {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #D0E9F2;
  box-shadow: 0 0 40px 40px rgba(0, 0, 0);
  text-align: center;
}
.home .exploration .individual-topic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.home .exploration .individual-topic .topic-text-container {
  text-align: left;
  width: 60%;
}
.home .exploration .individual-topic .topic-text-container p {
  color: #D0E9F2;
}
.home .exploration .individual-topic .icon-container {
  width: 30%;
}
.home .exploration .individual-topic a {
  color: #D0E9F2;
}
.home .exploration .individual-topic a:active {
  color: white;
  background: radial-gradient(closest-side, rgba(255, 255, 255, 0.1), black);
}
@media (min-width: 500px) {
  .home .exploration .topics-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home .exploration .topics-container .individual-topic {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home .exploration .topics-container .individual-topic a {
    color: #A7CFF2;
  }
  .home .exploration .topics-container .individual-topic a:hover {
    background: radial-gradient(closest-side, rgba(255, 255, 255, 0.2), black);
    color: white;
  }
  .home .exploration .topics-container .individual-topic .icon-container {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .home .exploration .topics-container .individual-topic .topic-text-container {
    width: 80%;
    text-align: center;
  }
}
@media (min-width: 1080px) {
  .home .exploration .explore-text-container {
    display: none;
  }
  .home .exploration .topics-container {
    margin-top: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }
  .home .exploration .topics-container .individual-topic {
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 0;
  }
  .home .exploration .topics-container .individual-topic .icon-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}
.home .work-container {
  margin-top: 100px;
}
.home .work-container .recent-work-title {
  text-align: center;
  margin: 50px 0;
}
.home .work-container .project-title {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #D0E9F2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.home .work-container .project-description {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  background-color: #D0E9F2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.home .work-container .project-image {
  background-color: #D0E9F2;
}
.home .work-container img {
  width: 100%;
  cursor: pointer;
}
.home .work-container img:active {
  border: 2px solid white;
}
.home .work-container span {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
.home .work-container span i {
  color: #3C4C59;
}
