.home {
  header {
    height: 100vh;
    background-image: url(../img/mountain-alps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    .container {
      width: 90%;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .transparent-box {
        padding: 20px;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.8) 25%,
          rgba(255, 255, 255, 0.8) 75%,
          rgba(255, 255, 255, 0.5) 100%
        );
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
          inset 0 0 1px rgba(255, 255, 255, 0.6);
        border-radius: 2px;

        @media @SD-screen {
          width: 60%;
        }

        &:hover {
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(255, 255, 255, 0.8) 25%,
            rgba(255, 255, 255, 0.8) 75%,
            rgba(255, 255, 255, 0.8) 100%
          );
        }
      }
    }
  }

  .exploration {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: black;
    color: @lightblue;
    box-shadow: 0 0 40px 40px rgba(0, 0, 0);
    text-align: center;

    .individual-topic {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 30px 20px;

      .topic-text-container {
        text-align: left;
        width: 50%;
      }

      .icon-container {
        display: flex;
        flex-direction: row-reverse;
        width: 20%;
      }

      p {
        color: @lightblue;
      }
    }

    

    @media @SD-screen {
      .topics-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-content: flex-start;

        .individual-topic {
          display: flex;
          flex-direction: column;
          width: 20%;
          padding: 0;

          .topic-text-container {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
