.home {
  header {
    height: 100vh;
    background-image: url(../img/mountain-alps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    .container {
      width: 90%;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .transparent-box {
        padding: 20px;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.6) 0%,
          rgba(255, 255, 255, 0.8) 25%,
          rgba(255, 255, 255, 0.8) 75%,
          rgba(255, 255, 255, 0.6) 100%
        );
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
          inset 0 0 1px rgba(255, 255, 255, 0.6);
        border-radius: 3px;

        p {
          font-size: 1.6rem;
        }

        &:hover {
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 25%,
            rgba(255, 255, 255, 0.9) 75%,
            rgba(255, 255, 255, 0.9) 100%
          );
        }

        @media @tablet {
          width: 80%;
          p {
            font-size: 2rem;
            line-height: 2.8rem;
          }
        }

        @media @HD-display {
          width: 60%;
        }
      }
    }
  }

  // Here is the code for the section containing links to my (mis)Adventures, Work, Meditations, and Status Updates
  .exploration {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: @lightblue;
    box-shadow: 0 0 40px 40px rgba(0, 0, 0);
    text-align: center;

    .individual-topic {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 30px 0;

      .topic-text-container {
        text-align: left;
        width: 60%;
        p {
          color: @lightblue;
        }
      }

      .icon-container {
        width: 30%;
      }

      a {
        color: @lightblue;

        &:active {
          color: white;
          background: radial-gradient(
            closest-side,
            rgba(255, 255, 255, 0.1),
            black
          );
        }
      }
    }

    @media @tablet {
      .topics-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .individual-topic {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          a {
            color: @blue;

            &:hover {
              color: white;
            }
          }

          .icon-container {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
          }

          .topic-text-container {
            width: 80%;
            text-align: center;
          }
        }
      }
    }

    @media @HD-display {
      .explore-text-container {
        display: none;
      }

      .topics-container {
        margin: 50px 0 50px;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;

        .individual-topic {
          display: flex;
          flex-direction: column;
          width: 24%;
          padding: 0;

          .icon-container {
            display: flex;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
  }

  .about-me-brief {
    margin-top: 80px;

    .about-container {
      width: 90%;
      margin: 0 auto;
    }

    .bio-box {
      padding: 30px 0;
      border-bottom: 1px solid @grey;
    }


    h2 {
      text-align: center;
    }

    i {
      text-align: center;
      width: 30px;
    }

    @media @SD-display {
      .about-container {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid @grey;
        div {
          width: 48%;
        }

        .bio-box {
          border: none;
        }
      }
    }
  }

  // Here is the code for the portfolio section containing recent work
  .portfolio-container {
    margin-top: 100px;

    .recent-work-title {
      text-align: center;
      margin: 50px 0;
    }

    .project-title {
      margin: 0 auto;
      padding: 10px;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-left: 1px solid @lightblue;
      border-top: 1px solid @lightblue;
      border-right: 1px solid @lightblue;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0 0 25px rgba(rgb(167, 207, 242), 0.3);
    }

    .project-description {
      margin: 0 auto;
      width: 90%;
      padding: 10px;
      border-left: 1px solid @lightblue;
      border-bottom: 1px solid @lightblue;
      border-right: 1px solid @lightblue;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 0 25px rgba(rgb(167, 207, 242), 0.3);

      h4 {
        display: none;
      }
      p {
        line-height: 2.5rem;
      }
    }

    .project-image {
      background-color: @lightblue;
      box-shadow: none;
    }

    img {
      width: 100%;
      cursor: pointer;
      border-top: 2px solid @lightblue;
    }

    span {
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: space-around;

      i {
        color: @darkgrey;
        &:hover {
          color: @grey;
        }
      }
    }

    @media @tablet {
      width: 90%;
      margin: 0 auto;

      .portfolio-piece {
        display: flex;
        margin-bottom: 80px;

        .project-title {
          display: none;
        }

        .project-description {
          background: none;
          border: none;
          box-shadow: none;
          h4 {
            display: block;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid @grey;
          }
        }

        .project-image {
          width: 100%;
          box-shadow: none;
          background: none;
          border: none;
          img {
            border: 2px solid @lightblue;
            border-radius: 5px;
          }
        }

        span {
          padding: 20px 0;
        }
      }

      .piece-two {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    @media @HD-display {
      width: 70%;
      margin: 125px auto;

      .recent-work-title {
        h2 {
          font-size: 5rem;
        }
      }
      .portfolio-piece {
        .project-image {
          width: 40%;
        }

        // h4 {
        //   font-size: 4rem;
        //   line-height: 6rem;
        // }

        // p {
        //   font-size: 2.5rem;
        //   line-height: 3.5rem;
        // }
      }
    }
  }
}