// Variables in here

// Color assignments 
@font-color: @black;
@button-bg: @blue;
@main-bg:  white;
@footer-bg: @blue;
@bg-bar: @lightblue;

// Colors
@black: #0D0D0D;
@darkgrey: #3C4C59;
@grey: #95AFBF;
@blue: #A7CFF2;
@lightblue: #D0E9F2;

// Media Query Break Points
@tablet: ~'(min-width: 500px)';
@SD-display: ~'(min-width: 768px)';
@HD-display: ~'(min-width: 1080px)';